:root{
    --color-primary:red;
    --color-secondary:blue;
    }
    html{
    font-size:62.5%;
    /* Allows You To Use Rems instead of pixels for sizing */
    /* .5rem = 5px */
    /* 1rem = 10px*/
    /* 1.6rem = 16px */
    /* 2rem = 20px */
    /* 6rem = 60px */
    }
   
    /* Browser Reset */
    *, *::before, *::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
   
    /* Fix Browser Bounce on Macs */
    body{
    overflow-x:auto;
    width:100%;
    overscroll-behavior:none;
    /* Allows for easy pixel calcs in rems */
    font-size:1.6rem;
    }
    /* General Mobile First CSS */
    body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.7;
    background-color:#022359;
    color:lightblue;
    }
    /* Link Styles */
    a{
    color:white;
    text-decoration:none;
    }
    /* Paragraph styles */
    p{margin:1rem 0 1rem 0;}
   
    /* Header styles */
    h1,h2{
    text-align:center;
    }
    h1,h2,h3{
    line-height:1.2;
    font-family:Georgia, 'Times New Roman', Times, serif'
    }
    /* List Styles */
    li{
    line-height:2;
    }
    /* Container Styles */
    .container{
    max-width:120rem;
    margin:auto;
    padding:0 3rem 0 3rem;
    }
    /* End General Mobile First Styles */
   /* Media Queries */
@media only screen and (min-width:320px){
    #features{
     background-color:rgb(6, 15, 43);
    }
    }
    @media only screen and (min-width:480px){
     #features{
     background-color:rgb(6, 15, 43);
     }
    }
    @media only screen and (min-width:768px){
     #features{
     background-color:rgb(6, 15, 43);}
     .card{
     flex-basis:30%;
     }
     #features .container{
     flex-direction: row;
     }
     h1, h2{
     text-align: left;
     }
     }
     @media only screen and (min-width:1024px){
     #features{
     background-color:rgb(6, 15, 43);}
     #logosbig{
     display:block;
     margin:auto:
     }
     #logossmall{
     display:none;
     }
     }
     @media only screen and (min-width:1200px){
     #features{
     background-color:rgb(6, 15, 43);
     }
     #pagefooterlink{
     display:block;
     }
     }
    
     /* */
    blockquote::before{
        font-size: 64px;
                background-color: none;
                content:"“";
    }
    blockquote::after{
        font-size: 64px;
                background-color: none;
                content:"“";
    }