 <!-- Begin Features -->
 <section id="features">
    <div class="container">
    <!-- Cards -->
    <div class="card" id="card1">
    <a href=""><h3>Career</h3></a>
    
    </div>
    <!-- card 2 -->
    <div class="card" id="card2">
    <a href=""><h3>Design</h3></a>
    
    </div>
    <!-- card 3 -->
    <div class="card" id="card3">
    <a href=""><h3>Programming</h3></a>
    
    </div>
    </div>
    <!-- End container -->
    </section>
    <!-- End Features -->
    <style>
/* Features Section */
#features .container{
 padding-top:2rem;
 background-color: none;
 border:none;
 display:flex;
 gap:1rem;
 justify-content: space-between;
 flex-direction: column;
 }
 .card{
 background-color: #fff;
 padding:2rem;
 height:150px;
 box-shadow:0rem 0rem 1rem silver;
 margin-bottom: 2rem;
 border-radius:2.5rem;
 font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .card a{
 color:lightblue;
 }
 .card a:hover{
 color:white;
 }
 .card h3{
 text-align:center;
 font-size:3rem;
 }
 #card1{
 background-image: url(Images/card1.jpeg);
 background-size:cover;
 }
 #card2{
 background-image:url(Images/card2.jpeg);
 background-size:cover;
 }
 #card3{
 background-image: url(Images/card3.jpeg);
 background-size:cover;
 }
 /* End Features Section Styles */
    </style>