 <!-- Begin Pagecontent -->
 <main id="pagecontent">

    <div class="container">
    <h1>Introduction</h1>
    <p>
    Welcome to my portfolio. Continue scrolling for a brief overview of what we have learned in Web Application Development this year.
    </p>

    <h1>Career</h1>
    <p>I have taken Web Design, Intro To CS and JavaScript, and Web Application Development. In these courses we coded various portfolios, games, and even worked on our photoshop and graphic design skills. I have been attending CHS for the past three years and will be as I enter my senior year of high school. I have taken mulitple AP courses, participated in CHS Cheer and Track, been a founder of our Youth Wellness Council as well as a member of many other clubs. I have a 4.3 GPA all while working part time and taking college courses throughout the summer. </p>

    <a href="https://docs.google.com/document/d/1NfmJjaMD672TSoxstJLsviZY3uZ0l28m_8ODHGibq80/edit?usp=sharing">   <img src="Images/coverletter.png" alt="cover letter" class="career" >   </a>

    <a href="https://docs.google.com/document/d/1n2unudGDNG4quE0j4kcSaGmSA5_IwgBkKGO35io4Ipg/edit?usp=sharing">
<img src="Images/resume.png" alt="resume">
</a>

    <a href="https://docs.google.com/document/d/1Pzy_5j83IER7Br_qmHB4C6r7dU3rGLrXQhzGkPkMd0U/edit?usp=sharing"><img src="Images/reference.png" alt="references"></a>

    <a href="https://drive.google.com/file/d/1PzuA0kuQzG08u_5rsFzencuVpNzmyeXv/view?usp=sharing"><img src="Images/jobapplication.png" alt="Sample Job Application"></a>

    <a href="https://chsserver01.org/2023/srios062023/"><img src="Images/portfolio.png" alt="Portfolio"></a>

    <a href="https://docs.google.com/document/d/14ul5PBQztIkHiLh3l6s08FZulqzgq4lOzK1axjUq-e4/edit?usp=sharing"> <img src="Images/career.png" alt="Career plan"></a>

    <a href="https://docs.google.com/document/d/11_h8veR0s9MR7CBXmZKy-wTcadQTzeFQ0cxkIhl8Ses/edit?usp=sharing"><img src="Images/certificate.png" alt="Certificates"></a>
    </div>
    <!-- End container -->
    </main>
    <!-- End pagecontent -->
    <style>

         #pagecontent{
 padding:1rem;
 min-height:200px;
 background-color: #010511;
 } 
 #pagecontent img{
 width:50px;
 height:50px;
 }
    </style>