 <!-- Begin Pagecontent -->
 <main id="pagecontent">

    <div class="container">
    <h1>Introduction</h1>
    <p>
    Welcome to my portfolio. Continue scrolling for a brief overview of what we have learned in Web Application Development this year.
    </p>
    <img src="Images/pagecontent.jpeg" alt="Jellyfish swimming on side">
    </div>
    <!-- End container -->
    </main>
    <!-- End pagecontent -->
    <style>
         #pagecontent{
 padding:1rem;
 min-height:200px;
 background-color: #010511;
 } 
 #pagecontent img{
 width:550px;
 height:300px;
 position:relative;
 left:300px;
 }

    </style>