    <!-- Begin PageHeader -->
    <header id="pageheader">
        <div class="container">
            <div class="logo">
                <img src="Images/fishlogosmallanimate.png" alt="Koi Fish Logo">
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </nav>
        </div> 
        <!-- end container -->
    </header>
    <!-- End PageHeader -->
    <style>
        /* Header styles */
 h1,h2{
 text-align:center;
 }
 h1,h2,h3{
 line-height:1.2;
 font-family:Georgia, 'Times New Roman', Times, serif'
 }
 /* List Styles */
 li{
 line-height:2;
 }
 /* Container Styles */
 .container{
 max-width:120rem;
 margin:auto;
 padding:0 3rem 0 3rem;
 }
 /* End General Mobile First Styles */

 /* Header Section Styles */
 #pageheader{
 background-color:rgb(6, 15, 43);
 height:7.0rem;
 }
 /* Special Header Container Styles */
 #pageheader .container{
 background-color: rgb(6, 15, 43);
 border:2px dashed none;
 display: flex;
 justify-content: space-between;
 align-items:center;
 height:100%;
 padding:0 2rem 0 2rem;
 }
 .logo img{
 height:6rem;
 }
 .logo:hover{
 animation-name:swim;
 animation-duration:5s;
 animation-iteration-count: infinite;
 animation-direction:alternate;
 animation-timing-function:linear;
 }
 @keyframes swim{
 0%{transform:rotate(0deg);}
 100%{transform:rotate(45deg);}
 }
 /* Header Menu */
 #menu{
 background-color: none;
 border:none;
 display:flex;
 justify-content: space-between;
 width:20rem;
 list-style-type: none;
 background-color: none;
 }
 #menu li a{
 color:#fff;
 font-family:Georgia, 'Times New Roman', Times, serif;
 }
 #menu li a:hover{
 color:lightblue;
 }
 /* End Of Header Section Styles */
    </style>